* {
    box-sizing: border-box;
}
body { 
    padding-top: 70px; 
    background-color: #ffffff;
}
.navbar {
    background-color: rgb(86, 85, 85);
    border: 2px solid black;
}
.navbar-brand > a:hover {
    color: #fff;
}
#chicken p, #beef p, #sushi p {
    padding: 0 20px;
    color: black;
    background-color: rgb(147, 147, 147);
}
#chicken h1, #beef h1, #sushi h1 {
    color: #000000;
}
#nav-list > li > a {
    color: white;
}