@media screen and (min-width: 768px) {
  #nav > div > ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  .hamburger {
    display: none;
  }

  .photo,
  .info {
    flex: 0 0 auto;
    width: 50%;
    padding: 0px 20px;
  }

  .sertificate-item {
    width: 50%;
  }

  .sertificate-item > div > p {
    min-height: 100px;
  }

  .technologies {
    grid-template-columns: repeat(4, 1fr);
  }

  .tech-item > img {
    width: 42px;
    height: 42px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    padding: 100px 0px;
  }

  .photo {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .info {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .sertificate-item > div > img {
    height: 400px;
  }
}

@media screen and (min-width: 1440px) {
  #nav {
    padding: 20px 70px;
  }
}
