* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

#nav {
  width: 100vw;
  height: 60px;
  background-color: aqua;
}

#nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  margin: auto;
  height: 100%;
}

#nav > div > span {
  font-size: calc(1rem + 0.2vw);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav > div > ul {
}
