.row {
    width: 100%;
}

/********** Large devices only **********/
@media screen and (min-width: 993px) and (max-width: 1280px) {

    .col-lg-1 {
        width: 8.33%;
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .col-lg-8 {
        width: 66.66%;
    }

    .col-lg-9 {
        width: 74.99%;
    }

    .col-lg-10 {
        width: 83.33%;
    }

    .col-lg-11 {
        width: 91.66%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

/********** Laptops devices only **********/
@media screen and (min-width: 769px) and (max-width: 992px) {

    .links,
    .phone {
        display: none;
    }

    .row-flex {
        width: 100%;
        margin-top: 5vh;
        display: flex;
        justify-content: start;
        height: 15vh;
    }

    .col-md-1 {
        width: 8.33%;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.33%;
    }

    .col-md-8 {
        width: 66.66%;
    }

    .col-md-9 {
        width: 74.99%;
    }

    .col-md-10 {
        width: 83.33%;
    }

    .col-md-11 {
        width: 91.66%;
    }

    .col-md-12 {
        width: 100%;
    }
}

/********** Tablet devices only **********/
@media screen and (min-width: 601px) and (max-width: 768px) {

    .links,
    .phone {
        display: none;
    }

    .row-flex {
        width: 100%;
        margin-top: 5vh;
        display: flex;
        justify-content: start;
        height: 20vh;
    }

    .row-flex>div.fio {
        padding-left: 5%;
    }

    .photo-description {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        height: 64vh;
    }

    .photo>img {
        height: 575px;
        width: 450px;
    }

    .col-tb-1 {
        width: 8.33%;
    }

    .col-tb-2 {
        width: 16.66%;
    }

    .col-tb-3 {
        width: 25%;
    }

    .col-tb-4 {
        width: 33.33%;
    }

    .col-tb-5 {
        width: 41.66%;
    }

    .col-tb-6 {
        width: 50%;
    }

    .col-tb-7 {
        width: 58.33%;
    }

    .col-tb-8 {
        width: 66.66%;
    }

    .col-tb-9 {
        width: 74.99%;
    }

    .col-tb-10 {
        width: 83.33%;
    }

    .col-tb-11 {
        width: 91.66%;
    }

    .col-tb-12 {
        width: 100%;
    }
}

/********** Smartphones devices only **********/
@media screen and (max-width: 600px) {

    .links,
    .phone {
        display: none;
    }

    .photo>img {
        height: 375px;
        width: 350px;
    }

    .row-flex {
        width: 100%;
        margin-top: 5vh;
        display: flex;
        justify-content: start;
        height: 20vh;
    }

    .photo-description {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        height: 64vh;
    }

    .row-flex>div.fio {
        padding-left: 5%;
    }

    .photo>img {
        height: 375px;
        width: 250px;
    }

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 74.99%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }
}