* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: black;
    font-family: 'Futura PT', sans-serif;
}

:root {
    --distance: 15px;
    --orange--color: #EDC054;
    --green--color: #00B268;
    --gray--color: #F9F9F9;
}

html,
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 120px;
    -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
}

.header {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    align-self: flex-start;
    justify-self: flex-start;
    padding-top: 5vh;
}

.links {
    display: flex;
}

.links>li {
    margin-right: 3em;
    padding: 5px 10px;
}

.links li a {
    font-size: 18px;
    opacity: 0.6;
    font-weight: 500;
}

.links>li:hover,
.links>li>a:hover {
    transform: scale(1.1);
    opacity: 1;
}

.links>li:first-child {
    opacity: 1;
}

.links>li:last-child {
    margin: 0;
}

.phone {
    font-weight: 500;
}


.thanks {
    text-align: center;
    width: 350px;
    height: 250px;
}

.thanks h2 {
    margin-top: 10px;
    text-shadow: 5px 5px 5px rgba(128, 124, 124, 1);
}

.thanks p {
    margin-top: 10px;
    font-size: 18px;
}