{% extends 'Optelis/base.html' %}
{% load static %}
{% block title %}Optelis{% endblock %}
{% block links %}
<link rel="stylesheet" href="{% static 'Optelis/css/slider.css' %}">
<link rel="stylesheet" href="{% static 'Optelis/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'Optelis/css/popup.css' %}">
<link rel="stylesheet" href="{% static 'Optelis/css/media.css' %}">
{% endblock %}
{% block content %}
<div class="header col-lg-11 col-md-11 col-tb-11 col-sm-11" id="header">
    <div class="logo">
        <img src="{% static 'Optelis/images/logo.png' %}" alt="optelis">
    </div> <!-- logo -->
    <div class="menu-burger">
        <span></span>
    </div> <!-- burger -->
    <nav class="menu" id="menu">
        <ul class="links">
            {% for key, value in context.menu.items %}
            <li><a href="#{{ key }}">{{ value }}</a></li>
            {% endfor %}
        </ul>
    </nav> <!-- menu -->
    <h4 class="phone"><a href="tel:+380 (99) 485 27 98">+380 (99) 485 27 98</a></h4> <!-- phone -->
</div> <!-- header -->
<div class="row-flex">
    <div class="fio col-lg-6 col-md-6 col-tb-6 col-sm-12">
        <h2>Мучак <br> Андрій Іванович</h2>
        <span>Лікар Офтальмолог</span>
    </div> <!-- div with info -->
</div> <!-- fio -->
</div> <!-- row with fio -->
<div class="photo-description col-lg-11 col-md-11 col-tb-12 col-sm-12">
    <div class="photo col-lg-5 col-md-5 col-tb-6 col-sm-6"></div>
    <div class="description col-lg-5 col-md-5 col-tb-5 col-sm-5">
        <h3>Досвід та досягнення</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorem, consectetur corporis in
            perspiciatis quos, repellendus iste natus velit obcaecati atque? At dolorum deserunt veritatis
            distinctio molestias deleniti laborum ad?</p>
    </div>
</div>
<div class="sertificates col-lg-12 col-md-12 col-tb-12 col-sm-12" id="sertificates">
    <h2>Сертифікати та ліцензії</h2>
    <div class="licenses">
        <div class="study-wrapper col-lg-6 col-md-6 col-tb-12 col-sm-12">
            <div class="study-inner col-lg-10 col-md-10 col-tb-10 col-sm-10">
                <div class="study col-lg-12 col-md-12 col-tb-11 col-sm-11">
                    <div id="hat-text">
                        <img src="{% static 'Optelis/images/hat.png' %}" alt="">
                        <span>Професійна освіта</span>
                    </div>
                    <h2>ВГМУ им. Н.Н. Бурденко</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae expedita nisi dicta impedit
                        optio
                        corrupti cumque ad ducimus delectus iure officiis autem, excepturi tenetur libero, molestias
                        quisquam voluptas ipsum molestiae.</p>
                </div>
                <div class="study-2 col-lg-12 col-md-12 col-tb-12 col-sm-12">
                    <div class="info col-lg-6 col-md-6 col-tb-11 col-sm-11">
                        <img src="{% static 'Optelis/images/books.png' %}" alt="books">
                        <p>Курс профессиональной
                            переподготовки “Врач общей
                            практики”</p>
                        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            сосредоточиться. Lorem Ipsum используют потому, что тот </p>
                        <a href="#popup" class="popup-link"><span>Детальніше...</span></a>
                    </div>
                    <div class="info col-lg-6 col-md-6 col-tb-11 col-sm-11">
                        <img src="{% static 'Optelis/images/student.png' %}" alt="student">
                        <p>Курс профессиональной
                            переподготовки “Врач общей
                            практики”</p>
                        <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                            сосредоточиться. Lorem Ipsum используют потому, что тот </p>
                        <a href="#popup" class="popup-link"><span>Детальніше...</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="licenses-wrapper col-lg-6 col-md-6 col-tb-12 col-sm-12">
            <div class="licenses-inner col-lg-10 col-md-10 col-tb-9 col-sm-9" id="slider_1">
                {% for sertificate in context.sertificates %}
                <div class="license-container col-lg-4 col-md-4 col-tb-5 col-sm-5">
                    <h1>{{sertificare}}</h1>
                    <img src="{{ MEDIA_URL }} {{ sertificate.image.url }}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="big-wrapper col-lg-12 col-md-12 col-tb-12 col-sm-12">
    <h2>Часто задавані питання</h2>
    <div class="questions col-lg-11 col-md-11 col-tb-11 col-sm-11" id="questions">
        <div class="questions_inner" id="slider_2">
            {% for question in context.questions %}
            <div class="question">
                <h4>{{question}}</h4>
                <p>{{question.answer}}</p>
                <a href="#popup" class="popup-link"><span>Детальніше...</span></a>
            </div>
            {% endfor %}
            <!--question -->
        </div> <!-- questions inner-->
    </div> <!-- questions-->

    <h2 id="options">Послуги та ціни</h2>
    <p class="prices">Вартість можна уточнити на консультації або по телефону</p>
    <div class="options col-lg-10 col-md-10 col-tb-11 col-sm-11">
        <ul class="options_inner" id="li_container">
            {% for opt in context.options %}
            <li class="flex_li">
                <h4>{{ opt }}</h4><span>{{ opt.price_of_option }}</span>
                <!-- <h4>Консультація</h4><span>Безкоштовно</span> -->
            </li>
            {% endfor %}
        </ul> <!-- options inner -->
    </div> <!-- options -->
    <h2>Відгуки</h2>
    <div class="reviews col-lg-11 col-md-11 col-tb-11 col-sm-11" id="reviews">
        <div class="reviews_inner col-lg-10 col-md-10 col-tb-10 col-sm-10" id="slider_3">
            {% for rewiev in context.rewievs %}
            <div class="review">
                <img src="{% static 'Optelis/images/man-circle.png' %}" alt="" class="user_photo">
                <img src="{% static 'Optelis/images/quotes.png' %}" alt="quotes" class="quotes">
                <div class="review_text">
                    <p>{{ rewiev.rewiev_text }}</p>
                    <h3>{{ rewiev }}</h3>
                    <span>{{ rewiev.user_type }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="show_more" id="show-3">
        <div><a href="#popup2" class="popup-link-2">Написати відгук</a></div>
    </div> <!-- end of block w reviews -->
    <div class="map col-lg-11 col-md-11 col-tb-11 col-sm-11">
        <a href="https://goo.gl/maps/9GW4FhTntYzz5HQ7A" target="_blank">
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.4733783192128!2d30.47659789999999!3d50.4509091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce8668c99a23%3A0xab703b8837af2264!2zMUEsINGD0LsuINCo0L7Qu9GD0LTQtdC90LrQviwgMdCQLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1655408705190!5m2!1sru!2sua"
                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <span>Де ми знаходимось</span>
            </div>
        </a>
    </div>
</div> <!-- big wrapper for 3 slides-->
<div class="location">
    <div class="location_inner col-lg-10 col-md-10 col-tb-10">
        <div class="location_item col-lg-4 col-md-4 col-tb-4 col-sm-12">
            <span>м.Київ</span>
            <h3>вул. Шолуденко, 1А, Київ</h3>
            <p>Парковка со стороны двора
                на домофоне набрать кв 7</p>
        </div>
        <div class="location_item col-lg-4 col-md-4 col-tb-4 col-sm-12">
            <span>Режим роботи:</span>
            <h4>ПН,ЧТ,СБ - Прийом у кабінеті</h4>
            <h4>ВТ,СР,ПТ - Виїзд до лікарні</h4>
            <h4>НД - Вихідний</h4>
        </div>
        <div class="location_item col-lg-4 col-md-4 col-tb-4 col-sm-12">
            <span>Контакти:</span>
            <h3>+380 (99) 485 27 98</h3>
            <h5>Щоденно з 08:00 до 23:00</h5>
            <h5>Email: doc@kyiv.ua</h5>
        </div>
    </div> <!-- location inner -->
    <div class="footer col-lg-11 col-md-12 col-tb-12 col-sm-12" id="contacts">
        <div class="col-lg-3 col-md-12 col-tb-12 col-sm-12" id="footer_request">
            <h2>Запишіться на прийом</h2>
            <p>Залиште свій номер телефону і я з вами зв'яжусь</p>
        </div>
        <div class="col-lg-4" id="footer_image"></div>
        <div class="form_container col-lg-3 col-md-6 col-tb-8 col-sm-10">
            <form class="form" method="POST" action="{% url 'thanks_page' %}">
                {% csrf_token %}
                {% for item in context.form %}
                <label for="{{ item.id_for_label }}">
                    {{ item }}
                </label>
                {% endfor %}
                <button type="submit">Відправити</button>
            </form>
        </div>
    </div>
</div> <!-- container w location information -->
<div class="popup-wrapper">
    <div class="popup" id="popup">
        <div class="popup__body">
            <div class="popup__content"></div>
            <a href="#" class="popup__close close-popup">Х</a>
        </div>
    </div>
</div>
<div class="popup-wrapper2">
    <div class="popup2" id="popup2">
        <div class="popup__body2">
            <a href="#" class="popup__close2 close-popup2">Х</a>
            <div class="popup__content2">
                <form action="{% url 'rewiev_page' %}" method="post" class="form">
                    {% csrf_token %}
                    {% for rew in context.comment %}
                    <label for="{{ rew.id_for_label }}">
                        {{ rew }}
                    </label>
                    {% endfor %}
                    <button type="submit">Відправити</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Подключение jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'Optelis/js/slick.min.js' %}"></script>
<script src="{% static 'Optelis/js/popup.js' %}"></script>
<script src="{% static 'Optelis/js/script.js' %}"></script>
{% endblock %}