@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
:root {
    --distance: 15px;
    --bgc--gray: #E5E5E5;
    --bgc--purp: #752F48;
}
html,body {
    height: 100%;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #727272;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: #822948;
    border-radius: 50px;
}
/* Simple Responsive Framework. */
.row {
    width: 100%;
}
.wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../images/back.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 115px;
    position: relative;
}
.menu {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 148px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}
.number {
    letter-spacing: 1px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.number > img {
    width: 25px;
    height: 25px;
}
.menu_ {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding: 10px;
    background-color:var(--bgc--purp);
    border-radius: 5px;
}
.menu_ li{
    padding: 3px 10px;
    align-self: center;
    color: white;
}
.menu_ li:hover {
    border-radius: 5px;
    background-color: white;
    color: var(--bgc--purp);
    cursor: url(../images/jobs-judge-gavel-and-wig-cursor-a.png), auto;
}
.fio {
    margin-top: 120px;
    font-size: 55px;
    color: white;
    text-align: center;
}
.notar {
    font-size: 25px;
    color: white;
    text-align: center;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.arrow {
    width: 34px;
    height: 42px;
    background-color: var(--bgc--purp);
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 25px;
    transform: translateX(-8px) translateY(8px);
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    cursor: url(../images/jobs-judge-gavel-and-wig-cursor-a.png), auto;
}
.fa-arrow-down {
    cursor: url(../images/jobs-judge-gavel-and-wig-cursor-a.png), auto;
    transform: translateX(10px) translateY(11px);
    color: white;
}
.arrow:hover {
    transform: translateX(4px) translateY(-4px);
    box-shadow: none;
    transition: 300ms;
}
.wrapper2 {
    height: fit-content;
    background-color: var(--bgc--gray);
    padding: 60px 0px;
    position: relative;
}
.options {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    align-items: center;
    flex-wrap: wrap;
}
.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 550px;
}
.info-1 {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#t1 {
    color:var(--bgc--purp);
    letter-spacing: 2px;
    font-size: 23px;
}
#t2 {
    color:#727272;
    font-size: 17px;
}
.link_btn {
    color:white;
    padding: 3px 15px;
    background-color: var(--bgc--purp);
    border-radius: 5px;
    width: fit-content;
    font-size: 20px;
    cursor: url(../images/jobs-judge-gavel-and-wig-cursor-a.png), auto;
}
.link_btn:hover {
    color:var(--bgc--purp);
    background-color: white;
}
.section-2{
    display: flex;
    height: 450px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:12.5px;
}
.card {
    background-color: white;
    height: 200px;
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.card > img {
    height: 100px;
}
.card > p {
    overflow: hidden;
    text-overflow: clip;
}
.portfolio {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    align-items: center;
}
.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 550px;
}
.info-2 {
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info-2 > h2 {
    margin-bottom: 5px;
}
.section-4 {
    height: 550px;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
}
.section-4 > div {
    position: relative;
    transform-style:preserve-3d;
    transition:all 0.5s ease;
}
.section-4 > div:hover {
    transform: rotateY(180deg);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);;
}
.section-4 > div > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    backface-visibility:hidden;
}
.section-4-back {
    top: 0;
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility:hidden;
    background:#fafafa;
    color:#333;
    transform:rotateY(180deg);
}
.carousel {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
}
.slick-initialized .slick-slide {
    display: flex;
}
.slick-track {
    align-items: flex-start;
}
.carousel .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 50px;
    border: none;
}
.carousel .slick-arrow.slick-prev {
    left: 10px;
    background: url(../images/chevron-left-solid.svg) 0 0 /100% no-repeat;
    cursor: url(../images/jobs-judge-gavel-and-wig-cursor-a.png), auto;
    opacity: 0.5;
}
.carousel .slick-arrow.slick-next {
    right: 10px;
    background: url(../images/chevron-right-solid.svg) 0 0 /100% no-repeat;
    cursor: url(../images/jobs-judge-gavel-and-wig-cursor-a.png), auto;
    opacity: 0.5;
}
.carousel_inner {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    cursor: pointer;
}
.carousel_item {
    flex-direction: column;
    padding: 30px 50px;
    background-color: white;
    gap: 5px;
}
.date {
    color:white;
    padding: 3px 15px;
    background-color: var(--bgc--purp);
    border-radius: 5px;
    width: fit-content;
    font-size: 17px;
    margin-left: 20px;
}
.carousel_item > h2 {
    margin-top: 10px;
    text-align: center;
}
.carousel_item > div > img {
    width: 100%;
    height: 400px;
    margin: 10px 0px;
}
.carousel_item > a {
    align-self: flex-end;
}
.source-btn {
    color:white;
    padding: 3px 15px;
    background-color: var(--bgc--purp);
    border-radius: 5px;
    width: fit-content;
    font-size: 20px;
    cursor: url(../images/jobs-judge-gavel-and-wig-cursor-a.png), auto;
}
.source-btn:hover {
    color:var(--bgc--purp);
    background-color: rgba(128, 128, 128,0.4);
}
