{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Studio</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{% static 'advancedStudio/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'advancedStudio/css/slider.css' %}">
    <link rel="stylesheet" href="{% static 'advancedStudio/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'advancedStudio/css/media.css' %}">
</head>

<body>
    <section style="max-width: 1320px; margin: 0 auto;">
        <div class="logo-popup"><img src="{% static 'advancedStudio/images/logo.png' %}" alt="Advanced Studio Logo">
        </div>
        <div class="pulse">
            <div class="block"></div>
        </div>
        <div class="slide" id="slide">
            <div class="container col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="menu">
                    <nav class="menu__inner">
                        <div class="logo"><img src="{% static 'advancedStudio/images/logo.png' %}"
                                alt="Advanced Studio Logo"></div>
                        <div class="menu-burger">
                            <span></span>
                        </div>
                        <ul class="links">
                            <a href="#slide">
                                <li>Головна</li>
                            </a>
                            <a href="#slide-2">
                                <li>Портфоліо</li>
                            </a>
                            <a href="#slide-3">
                                <li>Послуги</li>
                            </a>
                            <a href="#slide-4">
                                <li>Контакти</li>
                            </a>
                            <li>
                                <a href="#UKR" class="menu_link">
                                    <img src="{% static 'advancedStudio/images/ukraine-fl.png' %}" alt="">
                                </a>
                                <span class="menu_arrow drop_arrow"></span>
                                <ul class="sub_menu_list">
                                    <li>
                                        <a href="#USA" class="sub_menu_link">
                                            <img src="{% static 'advancedStudio/images/usa-fl.png' %}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <a href="#slide-5">
                                <li>Зв'язатися з нами</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div> <!-- container with menu -->
            <div class="container col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="studio">
                    <div class="studio__inner col-lg-11 col-md-11 col-tb-11 col-sm-11">
                        <h1>Advanced Studio</h1>
                        <p>Створення цифрових продуктів, <br>
                            що трансформують бізнес</p>
                    </div>
                    <div class="nav">
                        <ul>
                            <a href="#slide">
                                <li class="active"></li>
                            </a>
                            <a href="#slide-2">
                                <li class="non-active"></li>
                            </a>
                            <a href="#slide-3">
                                <li class="non-active"></li>
                            </a>
                            <a href="#slide-4">
                                <li class="non-active"></li>
                            </a>
                            <a href="#slide-5">
                                <li class="non-active"></li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container col-lg-11 col-md-11 col-tb-11 col-sm-11" id="arrow__container">
                <div class="arrow__container">
                    <a href="#slide-2">
                        <div class="arrow">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="bottom-line">
                <img src="{% static 'advancedStudio/images/bottom-line.png' %}" alt="">
            </div>
        </div>
        <div class="slide-2" id="slide-2">
            <div class="container col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="portfolio">
                    <h4>Приклади готових робіт</h4>
                    <h2>Наше портфоліо</h2>
                    <h3>Над створенням кожного сайту ми підходимо індивідуально</h3>
                </div>
            </div>
            <div class="container container-flex col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="col-lg-11 col-md-11 col-tb-11 col-sm-11 carousel">
                    <div class="col-lg-12 col-md-12 col-tb-12 col-sm-12 carousel_inner">
                        {% if context.sites %}
                        {% for item in context.sites %}
                        <div class="carousel_item">
                            <a href="{{ item.link_of_site }}">
                                <div class="portfolio-item">
                                    <img src="{{ MEDIA_URL }} {{ item.image.url }}" alt="">
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="nav-2">
                    <ul>
                        <a href="#slide">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-2">
                            <li class="active"></li>
                        </a>
                        <a href="#slide-3">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-4">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-5">
                            <li class="non-active"></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="slide-3" id="slide-3">
            <div class="container container-flex-2 col-lg-10 col-md-10 col-tb-10 col-sm-10">
                <div class="options">
                    <span>Розробка</span>
                    <h2>Послуги</h2>
                    <p>Вибери потрібну послугу і ми почнемо працювати</p>
                </div>
                <div class="append-here">
                    <div class="feedback">
                        <a href="#slide-5">Зв'язатися з нами</a>
                    </div>
                </div>
            </div>
            <div class="container container-flex-3 col-lg-11 col-md-11 col-tb-11 col-sm-11 carousel_2">
                <div class="options-2 col-lg-11 col-md-11 col-tb-11 col-sm-11 carousel_inner_2">
                    {% if context.options_design %}
                    <h2 class="col-lg-11 col-md-11 col-tb-11 col-sm-11" style="margin:15px 0px">Дизайн</h2>
                    {% for opt in context.options_design %}
                    <div class="carousel_item">
                        <div class="option">
                            <img src="{{ MEDIA_URL }} {{ opt.image.url }}" alt="">
                            <h3>{{ opt.name_of_option }}</h3>
                            <p>{{ opt.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if context.options_web %}
                    <h2 class="col-lg-11 col-md-11 col-tb-11 col-sm-11" style="margin:15px 0px">Розробка</h2>
                    {% for opt in context.options_web %}
                    <div class="carousel_item">
                        <div class="option">
                            <img src="{{ MEDIA_URL }} {{ opt.image.url }}" alt="">
                            <h3>{{ opt.name_of_option }}</h3>
                            <p>{{ opt.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if context.options_smm %}
                    <h2 class="col-lg-11 col-md-11 col-tb-11 col-sm-11" style="margin:15px 0px">SMM</h2>
                    {% for opt in context.options_smm %}
                    <div class="carousel_item">
                        <div class="option">
                            <img src="{{ MEDIA_URL }} {{ opt.image.url }}" alt="">
                            <h3>{{ opt.name_of_option }}</h3>
                            <p>{{ opt.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="append-here-2 col-tb-5 col-sm-8"></div>
        </div>
        <div class="slide-4" id="slide-4">
            <div class="container col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="steps col-lg-12 col-md-12 col-tb-12 col-sm-12">
                    <h4>Як ми працюємо</h4>
                    <h2>Послідовність роботи</h2>
                </div>
            </div>
            <div class="container container-flex-4 col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="schedule col-lg-11 col-md-11 col-tb-11 col-sm-11">
                    <div class="schedule-wrapper col-lg-12 col-md-12 col-tb-12 col-sm-12">
                        <div class="schedule-item-1 col-lg-3 col-md-6 col-tb-12 col-sm-12" id="flex-order-1">
                            <img src="{% static 'advancedStudio/images/arrow-1.png' %}" alt="">
                            <div class="schedule-line-img-1">
                                <img src="{% static 'advancedStudio/images/phone.png' %}" alt="">
                            </div>
                            <div class="text">
                                <span>Зв'язок з нами</span>
                                <p>Ви зв'язуєтеся з нами по телефону
                                    або залишаєте заявку, після чого ми
                                    передзвонюємо</p>
                            </div>
                        </div>
                        <div class="schedule-item-2 col-lg-3 col-md-6 col-tb-12 col-sm-12" id="flex-order-2">
                            <div class="schedule-line-img-2">
                                <img src="{% static 'advancedStudio/images/room-chat.png' %}" alt="">
                            </div>
                            <div class="text">
                                <span>Обговорення та складання Т.З</span>
                                <p>Вислуховуючи ваші побажання ми ставимо додаткові питання, висловлюємо своє бачення та
                                    фіксуємо підсумок</p>
                            </div>
                            <img src="{% static 'advancedStudio/images/arrow-2.png' %}" alt="">
                        </div>
                        <div class="schedule-item-1 col-lg-3 col-md-6 col-tb-12 col-sm-12" id="flex-order-3">
                            <img src="{% static 'advancedStudio/images/arrow-3.png' %}" alt="">
                            <div class="schedule-line-img-1">
                                <img src="{% static 'advancedStudio/images/task.png' %}" alt="">
                            </div>
                            <div class="text">
                                <span>Підписання договору</span>
                                <p>Після складання технічного завдання ми укладаємо офіційний договір, що має юридичну
                                    силу
                                </p>
                            </div>
                        </div>
                        <div class="schedule-item-2 col-lg-3 col-md-6 col-tb-12 col-sm-12" id="flex-order-4">
                            <div class="schedule-line-img-2">
                                <img src="{% static 'advancedStudio/images/check-laptop.png' %}" alt="">
                            </div>
                            <div class="text">
                                <span>Здача роботи та передача доступів</span>
                                <p>Після завершення робіт ми передаємо Вам усі файли у вихідних форматах, доступи до
                                    адміністративної панелі та всі матеріали, які були розроблені.</p>
                            </div>
                            <img src="{% static 'advancedStudio/images/arrow-4.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="nav-2">
                    <ul>
                        <a href="#slide">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-2">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-3">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-4">
                            <li class="active"></li>
                        </a>
                        <a href="#slide-5">
                            <li class="non-active"></li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="bottom-line">
                <img src="{% static 'advancedStudio/images/bottom-line.png' %}" alt="">
            </div>
        </div>
        <div class="slide-5" id="slide-5">
            <div class="container col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="application-text">
                    <h2>Контакти</h2>
                    <h3>Запропонуй свої ідеї</h3>
                </div>
            </div>
            <div class="container container-flex-5 col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="application-form col-lg-6 col-md-7 col-tb-11 col-sm-11">
                    <h3>Напиши нам</h3>
                    <form action="" class="form col-lg-11 col-md-11 col-tb-10 col-sm-11" method="post">
                        <input type="text" name="choosen_option" style="display: none;" id="choosen">
                        <select id="choosing">
                            <option value="">Оберіть категорію</option>
                            {% for opt in context.options_web %}
                            <option value="">{{ opt.name_of_option }}</option>
                            {% endfor %}
                            {% for opt in context.options_design %}
                            <option value="">{{ opt.name_of_option }}</option>
                            {% endfor %}
                            {% for opt in context.options_smm %}
                            <option value="">{{ opt.name_of_option }}</option>
                            {% endfor %}
                        </select>
                        {% csrf_token %}
                        {% for row in form %}
                        <label for="{{ row.id_for_label }}">
                            {{ row }}
                        </label>
                        {% endfor %}
                        <button type="submit" class="form-button" onclick="ShowThanksTelegram()">Надіслати
                            замовлення</button>
                    </form>
                </div>
                <div class="nav">
                    <ul>
                        <a href="#slide">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-2">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-3">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-4">
                            <li class="non-active"></li>
                        </a>
                        <a href="#slide-5">
                            <li class="active"></li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <footer>
            <div class="container col-lg-11 col-md-11 col-tb-11 col-sm-11">
                <div class="menu">
                    <div class="menu__bottom__inner">
                        <div class="logo"><img src="{% static 'advancedStudio/images/logo.png' %}"
                                alt="Advanced Studio Logo"></div>
                        <div class="adress">
                            <div class="adress_links">
                                <h4>Advanced Studio</h4>
                                <a href="tel:+38(095) 023-78-67"><span>+38(095) 023-78-67</span></a>
                                <ul class="media_links">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram instagram" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-behance-square" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="adress_home">
                                <p>вул. Бестужева, 11, Харків,<br> Україна, 61000</p>
                            </div>
                            <div class="adress_email">
                                <span>global.change.web@gmail.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'advancedStudio/js/slick.min.js'%}"></script>
    <script src="{% static 'advancedStudio/js/script.js'%}"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>