@media (min-width:576px) {
    .fix-border .gray-border {
        width: calc(50% - 1rem);
    }

    #what-we-do>:nth-child(even):not(:last-child) {
        width: calc(41.66666667% - 1rem);
    }

    #what-we-do>:nth-child(odd) {
        width: calc(58.33333333% - 1rem);
    }

    #what-we-do img {
        min-height: 200px;
        max-height: 200px;
    }

    .header-text>button {
        max-width: 400px;
    }
}

@media (min-width:992px) {
    .fix-border .gray-border {
        width: calc(25% - 1rem);
    }

    #what-we-do>:nth-child(even):not(:last-child) {
        width: calc(33.33333333% - 1rem);
    }

    #what-we-do>:nth-child(odd) {
        width: calc(41.66666667% - 1rem);
    }


}