:root {
    --burger--color: #58CC99;
    --body--color: #F9F9F9;
    --h1--color: #2C2B2B;
    --p--color: #404040;
    --gray--color: #A5A5A5;
    --male--figure--bg: #EDEDED;
    --span--gray--color: #9F9F9F;
    --help--type--color: #B2B1B1;
    --border--bottom--form: #E7E7E7;
}

* {
    font-family: 'Avenir Next Cyr', syste-ui;
}

html,
body {
    min-height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
}

body.lock {
    overflow: hidden;
}

body>section:first-of-type {
    padding: 6rem 0px 3rem 0px;
    background-color: var(--body--color);
}

.container-fluid>h2 {
    text-transform: uppercase;
}

.r-20 {
    border-radius: 20px;
}

/* Меню всплывашка */
.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
}

.burger .burger-lines:after {
    top: -0.7em;
}

.burger .burger-lines:before {
    top: 0.7em;
}

.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: var(--burger--color);
    height: 2px;
    position: absolute;
}

/* Конец меню */

.header>h1 {
    color: var(--h1--color);
}

.header-text>p {
    color: var(--p--color);
    font-size: calc(0.6rem + 0.6vw);
}

.header-text>div:first-of-type {
    background-color: var(--burger--color);
    border-radius: 10px;
}

.header-text div>a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#options span {
    padding: 10px 11px;
    border: 2px solid var(--burger--color);
    border-radius: 20px;
    margin: 10px 10px 0px 0px;
    height: fit-content;
    text-transform: uppercase;
}

#options>div:not(:first-of-type) {
    background-color: var(--male--figure--bg);
}

#options img {
    max-height: 250px;
}

/* Чому ми (блок) */
.gray-border,
.gray-border-3,
.gray-border-3-1 {
    border: 1px solid var(--gray--color);
    border-radius: 20px;
    height: fit-content;
}

.why-we,
.work,
.gray-border-3,
.gray-border-3-1 {
    display: flex;
    padding: 5px 10px 10px;
    flex-wrap: wrap;
    align-items: center;
}

.gray-border>p {
    padding: 0px 10px 0px 20px;
    text-transform: uppercase;
    color: var(--p--color);
    font-size: 0.9rem;
}

.span-dot {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--burger--color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fix-border img {
    min-height: 200px;
    max-height: 200px;
}

.white-div {
    background-color: #fff;
    padding: 10px 15px;
    font-size: calc(0.8rem);
    /* max-width: 25%; пока что не использовать */
}

/* Конец блока Чому ми */
.green-span {
    text-decoration: none;
}

.green-span>span {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--burger--color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.gray-border-3>span,
.gray-border-3-1>span {
    text-transform: uppercase;
    color: var(--p--color)
}

.gray-border-3>p,
.gray-border-3-1>p {
    font-size: 17px;
    max-width: 300px;
    color: var(--p--color)
}

.accordion-button:not(.collapsed) {
    color: var(--p--color);
    background-color: var(--body--color);
}

.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    transition: var(--bs-accordion-btn-icon-transition);
}

.review {
    padding: 15px 10px;
    display: flex;
    align-items: stretch;
}

.photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 0;
}

.review>div>:nth-child(1) {
    text-transform: uppercase;
    color: var(--h1--color);
    font-size: 18px;
}

.review>div>p {
    font-size: 15px;
    max-height: 135px;
    overflow: hidden;
}

.review>div>p.show {
    max-height: fit-content;
}

.review>div>:nth-child(3),
.blog a {
    font-size: 14px;
    text-decoration: none;
    color: var(--burger--color);
}

.review>div>:nth-child(3):hover,
.blog a:hover {
    text-decoration: underline;
}

.review>div>:nth-child(4),
.blog>span:first-of-type {
    font-size: 13px;
    color: var(--span--gray--color);
}

.blog>p:first-of-type {
    margin: 0;
}

.blog>p:not(:first-of-type) {
    margin: 0px 0px 5px 0px;
}

.help>span {
    text-transform: uppercase;
    font-size: 18px;
}

.type {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    padding: 0px 0px 10px 0px;
    gap: 7px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.type::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.type span {
    padding: 3px 10px;
    border: 2px solid var(--help--type--color);
    border-radius: 20px;
    font-size: 14px;
    color: var(--help--type--color);
    cursor: pointer;
}

.type span.active {
    border: 2px solid var(--burger--color);
    color: var(--burger--color);
}

#labels>label>input {
    all: unset;
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid var(--border--bottom--form);
}

.form label>input::placeholder {
    color: var(--help--type--color)
}

.help-text {
    resize: none;
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    background-color: transparent;
    color: var(--help--type--color);
    outline: none;
}

.form-check-input:checked {
    background-color: var(--burger--color);
    border-color: var(--burger--color);
}

#terms {
    font-size: 14px;
}

#logo {
    width: 70px;
}

footer ul {
    list-style: none;
}

footer ul>li {
    margin: 5px 10px 0px 0px;
}

.mobile-info a {
    text-decoration: none;
    color: var(--h1--color);
    width: fit-content;
}

.mobile-info>span {
    margin: 10px 0px 0px 0px;
}

.media-links>li>a {
    position: relative;
}

.media-links img {
    width: 35px;
}

.media-links img:hover {
    transform: scale(1.1);
}

.media-links>li>a::before {
    content: attr(data-hover);
    visibility: hidden;
    color: black;
    position: absolute;
    font-size: 10px;
    right: -35px;
    top: -20px;
    z-index: 1;
}

.media-links>li>a:hover::before {
    opacity: 1;
    visibility: visible;
}