:root {
    --burger--color: #58CC99;
    --body--color: #F9F9F9;
    --h1--color: #2C2B2B;
    --p--color: #404040;
    --gray--color: #A5A5A5;
}

* {
    font-family: AvenirNexrCyr, sans-serif;
}

html,
body {
    min-height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
    background-color: var(--body--color);
    padding: 3rem 0px 0px 0px;
}

body.lock {
    overflow: hidden;
}

/* Меню всплывашка */
.burger {
    height: 3em;
    width: 3em;
    position: relative;
    font-size: 12px;
    cursor: pointer;
}

.burger .burger-lines:after {
    top: -0.7em;
}

.burger .burger-lines:before {
    top: 0.7em;
}

.burger .burger-lines {
    top: 50%;
    margin-top: -0.125em;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
    pointer-events: none;
    display: block;
    content: '';
    width: 100%;
    border-radius: 0.25em;
    background-color: var(--burger--color);
    height: 2px;
    position: absolute;
}

/* Конец меню */

.button>h1 {
    color: var(--h1--color);
    font-size: calc(2rem + 1.5vw);
    text-shadow: 1px 3px 4px rgba(150, 150, 150, 1);
}

.wrapper>p {
    color: var(--p--color);
    font-size: calc(0.75rem + 1.5vw);
}

.wrapper>div.p-0 {
    background-color: var(--burger--color);
    border-radius: 5px;
    max-width: 576px;
}

.wrapper div>a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.take {
    height: calc(10vh + 15rem);
    width: 100%;
    background: url(../images/first-img.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
    margin: 0 auto;
}

#options span {
    padding: 10px 15px;
    border: 2px solid var(--burger--color);
    border-radius: 10px;
    margin: 10px 10px 0px 0px;
    height: fit-content;
}

#options img {
    max-height: 250px;
}

/* Чому ми (блок) */
.gray-border,
.gray-border-2,
.gray-border-3,
.gray-border-3-1 {
    border: 1px solid var(--gray--color);
    border-radius: 10px;
    display: flex;
    padding: 5px 10px 10px;
    flex-wrap: wrap;
    align-items: center;
}

.gray-border>div {
    display: flex;
}

.gray-border p,
.gray-border-2>p {
    padding: 0px 10px;
    text-transform: uppercase;
    color: var(--p--color);
}

.span-dot {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--burger--color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.gray-border img {
    min-height: 200px;
}

/* Конец блока Чому ми */
.green-span {
    text-decoration: none;
}

.green-span>span {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: var(--burger--color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.gray-border-3>h4,
.gray-border-3-1>h4 {
    font-size: 18px;
    color: var(--p--color)
}

.gray-border-3>p,
.gray-border-3-1>p {
    font-size: 17px;
    max-width: 280px;
    color: var(--p--color)
}

video.w-100 {
    border-radius: 10px;
}