.header>h1 {
    color: var(--h1--color);
}

.header-text>p {
    color: var(--p--color);
    font-size: calc(0.6rem + 0.6vw);
}

#options span {
    padding: 10px 11px;
    border: 2px solid var(--burger--color);
    border-radius: 20px;
    margin: 10px 10px 0px 0px;
    height: fit-content;
    text-transform: uppercase;
}

#options>div:not(:first-of-type) {
    background-color: var(--male--figure--bg);
}

#options img {
    max-height: 250px;
}

/* Чому ми (блок) */
.gray-border {
    border: 1px solid var(--gray--color);
    border-radius: 20px;
    height: fit-content;
}

.why-we,
.work,
#what-we-do div.gray-border {
    display: flex;
    padding: 5px 10px 10px;
    flex-wrap: wrap;
    align-items: center;
}

#what-we-do img {
    min-height: 200px;
    max-height: 200px;
}

.gray-border>p {
    padding: 0px 10px 0px 25px;
    text-transform: uppercase;
    color: var(--p--color);
    font-size: 0.7rem;
}

.span-dot {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--burger--color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.fix-border img {
    height: 170px;
}

/* Конец блока Чому ми */
#what-we-do span {
    text-transform: uppercase;
    color: var(--p--color)
}

#what-we-do p {
    font-size: 17px;
    max-width: 300px;
    text-transform: none !important;
}

.accordion-button:not(.collapsed) {
    color: var(--p--color);
    background-color: var(--body--color);
}

.accordion-button::after {
    background-image: url(../images/accordion-arrow.png);
    transition-duration: 0.5s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/accordion-arrow.png);
    transform: rotate(45deg);
    transition-duration: 0.5s;
}

.review {
    padding: 15px 10px;
    display: flex;
    align-items: stretch;
}

.photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px 0;
}

.review>div>:nth-child(1) {
    text-transform: uppercase;
    color: var(--h1--color);
    font-size: 18px;
}

.review>div>p {
    font-size: 15px;
    max-height: 135px;
    overflow: hidden;
}

.review>div>p.show {
    max-height: fit-content;
}

.review>div>:nth-child(3),
.blog a {
    font-size: 14px;
    text-decoration: none;
    color: var(--burger--color);
}

.review>div>:nth-child(3):hover,
.blog a:hover {
    text-decoration: underline;
}

.review>div>:nth-child(4),
.blog>span:first-of-type {
    font-size: 13px;
    color: var(--span--gray--color);
}

.blog>p:first-of-type {
    margin: 0;
}

.blog>p:not(:first-of-type) {
    margin: 0px 0px 5px 0px;
}

.help>span {
    text-transform: uppercase;
    font-size: 18px;
}


.secondary-blocks {
    position: relative;
}

.secondary-blocks>span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: calc(1rem + 1.5vw);
    padding: 15% 0px 0px 10%;
    max-width: 350px;
    letter-spacing: 2px;
    font-weight: 500;
}

.append-p {
    font-size: calc(0.9rem + 0.4vw);
}

.services>div {
    padding: 10px 0px;
    border-radius: 15px;
    border: 1px solid var(--sertificates--border);
}

.services>div>span {
    font-size: 25px;
    line-height: 30px;
}

.services>div>p {
    /* line-height: 19px; */
    text-transform: uppercase;
    font-size: calc(0.5rem + .7vw);
    padding: 0px 5px 0px 0px;
}

.price-div {
    border-radius: 8px;
    text-transform: uppercase;
}

.price-div>span:not(:first-child) {
    border-radius: 10px;
    padding: 10px 5px;
    border: 2px solid var(--p--color);
}

.price-div>a {
    text-decoration: none;
}

.services-text-under-image h5 {
    text-transform: uppercase;
}

.video-section>div p {
    text-transform: uppercase;
    font-size: calc(0.7rem + 1vw);
}

.contacts-text h6 {
    text-transform: uppercase;
}

.contacts-info {
    text-transform: uppercase;
}

.contacts-info>div>:where(span, a) {
    color: var(--contacts--span);
    text-decoration: none;
}

.privacy {
    text-transform: capitalize;
    font-size: calc(1.2rem + 1vw);
    font-weight: 500;
}

.policy-rules>li {
    margin: 20px 0px 0px 0px;
}

.policy-rules>li::first-letter {
    margin: 0px 0px 0px 30px;
}