* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: gray;
}

.container {
    display: flex;
    min-width: 0px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 170px;
    height: 146px;
    background-color: aqua;
}

.menu {
    margin-right: 40px;
}

.menu__inner {
    display: flex;
    list-style: none;
}

.menu__inner>li {
    padding: 5px 10px;
    margin: 0px 0px 10px;
}